<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:400,800')
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
	link(rel='stylesheet', href='/css/bootstrap.css')
	link(rel='stylesheet', href='/css/libs.min.css')
	link(rel='stylesheet', href='/css/main.css')
body
	section.lead
		.container.header
			a(href="#").logo
				img(src="", alt="").logo
			h1 Крупнейший производитель сыра
			h2 основан в 2010 году
	section.adv
		.container
			.row
				.col-sm
					img(src="", alt="")
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, soluta.
				.col-sm
					img(src="", alt="")
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores!
				.col-sm
					img(src="", alt="")
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, sunt, fuga.
				.col-sm
					img(src="", alt="")
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			.row.pics
				.col-sm
					img(src="", alt="")
				.col-sm
					img(src="", alt="")
				.col-sm
					img(src="", alt="")
				.col-sm
					img(src="", alt="")
			.row.desc
				.col
					p.center-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni cumque ad iusto harum eos ducimus iste excepturi eligendi rerum temporibus quaerat explicabo, neque similique asperiores illo nam, reiciendis nobis et deserunt ea dolorum. Sequi consequatur error, debitis nesciunt, non aliquam.
	section.slider
		h3.sectionHeader Наши сыры
		.container
			.slick-slider
				.slick-item.purple
					img(src="", alt="")
				.slick-item.blue
					img(src="", alt="")
	script(src='/js/libs.min.js')
	script(src='/js/common.js')