@import url("../../node_modules/slick-carousel/slick/slick")
.lead
	background: #333
	background-size: cover
	min-height: 450px
	max-height: 500px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	.header
		text-align: center
		background: rgba(red,.5)
		flex: 1 1 auto
		position: relative
		&:after
			content: ''
			width: 100%
			height: 150px
			background: orange
			position: absolute
			bottom: 0
			left: 0
		.logo
			width: 200px
			height: 50px
			display: inline-block
			background: aliceblue
.adv
	position: relative
	&:before
		content: ''
		width: 100%
		height: 50px
		background: rgba(cadetblue,.5)
		position: absolute
		top: -50px
		left: 0
	.row
		text-align: center
	img
		display: inline-block
		width: 100px
		height: 150px
		background: darkblue
	.pics
		img
			width: 100%
.center-text
	max-width: 500px
	text-align: center
	display: inline-block
.slider
	text-align: center
.sectionHeader
	background: darkcyan
	display: inline-block
.slick-item
	background: darkmagenta
	height: 400px
	&.blue
		background: blue